/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #fff;
}

div#main {
  position: relative;
}
div#main h1 {
  display: inline;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  font-weight: lighter;
  max-width: 20%;
  padding: 0.5em 0em;
  box-shadow: 1em 0 0 white, -1em 0 0 white;
  font-size: 3vw;
  line-height: 3vw;
}

div#main h1 strong{
  font-weight: bold;
}

div#main img{
  width: 100%;
}